
body
{
    background-color: inherit;
    position: relative;
}


#main-content
{
    margin-left: 230px;
}

#sidebar
{
    // position: absolute;
    // top: 72px;
    // left: 0;
}

.dt-container
{
    .top
    {
        display: flex;
        justify-content: space-around;
        
        &:nth-child(1),
        &:nth-child(2)
        {
            width: 50% !important;
        }
         &:nth-child(1)
        {
            text-align: start !important;
        }
        &:nth-child(2)
        {
            text-align: end !important;
        }
    }
}