
body
{
    background-color: inherit;
    position: relative;
}


#main-content
{
    margin-left: 230px;
}

#sidebar
{
    // position: absolute;
    // top: 72px;
    // left: 0;
}

.dt-container
{
    .top
    {
        display: flex;
        justify-content: space-around;
        
        &:nth-child(1),
        &:nth-child(2)
        {
            width: 50% !important;
        }
         &:nth-child(1)
        {
            text-align: start !important;
        }
        &:nth-child(2)
        {
            text-align: end !important;
        }
    }

    .dataTable {
        thead {
            th {
                .dt-column-header
                
                {
                    .dt-column-title
                    {
                        align-items: center !important;
                    }
                    
                }
            }
        }
    }
    
}

[x-cloak] {
  display: none !important;
}

#queueMonitor {
    width: 280px;
    transition: all 0.3s ease;
}

#queueMonitor:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.dark #queueMonitor {   
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.custom-backdrop-blur-md 
{
    backdrop-filter: blur(12px) !important;
}